# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Exclude additional files
HELP.md
mvnw
mvnw.cmd
.factorypath

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nb-configuration.xml
/nbproject/private/

# Spring Boot
*.log
logs/
build/
target/