# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nb-configuration.xml
/nbproject/private/

# Spring Boot
*.log
logs/
build/
target/

# Exclude Maven project file
pom.xml